@charset "UTF-8";

html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
.main {
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
#grid{
    margin: auto;
    width: 650px;
    height: 290px;
}
.lis{
    margin: 5px;
    float: left;
    list-style: none;
}